---
import { format } from 'timeago.js'

import MainLayout from '@/layouts/main.astro'
import { getHomepageCollection } from '../content/_utils'
import { GITHUB_URL, INSTAGRAM_URL, LINKEDIN_URL } from '../constants'
import ExternalLink from '@/components/external-link.astro'

const [hasMorePosts, projectPosts] = await getHomepageCollection('project')
---

<MainLayout title='' showTitleHeader={false}>
  <div class='hero'>
    <div class='hero--text'>
      <h1>Hello, I'm Samuel.</h1>
      <p>
        Based in Albania. I work at <ExternalLink
          href='https://www.tegeria.com'
        >
          Tegeria
        </ExternalLink> as a Java Developer.
        I enjoy solving problems, building backend systems, and exploring new ideas. Outside work, I’m into basketball, movies, and spending time with friends.
      </p>
    </div>
  </div>
  <div class='content-table'>
    <div class='content-table--section'>
      <h2>Pages</h2>
      <div class='content-table--section-links'>
        <a href='/about/'>About</a>
      </div>
    </div>
    <div class='content-table--section'>
      <h2>Projects</h2>
      <div class='content-table--section-list'>
        {
          projectPosts.map((post) =>
            post.data.isExternal ? (
              <div class='content-table--list-item'>
                <ExternalLink
                  className='content-table--item-title'
                  href={post.data.externalUrl}
                >
                  {post.data.title}
                </ExternalLink>
                <p>{format(post.data.date)}</p>
              </div>
            ) : (
              <div class='content-table--list-item'>
                <a
                  class='content-table--item-title'
                  href={`/project/${post.slug}/`}
                >
                  {post.data.title}
                </a>
                <p>{format(post.data.date)}</p>
              </div>
            ),
          )
        }
        {
          hasMorePosts && (
            <a href='https://github.com/samueldervishi1?tab=repositories' class='see-more' target="_blank">
              See more →︎
            </a>
          )
        }
      </div>
    </div>
    <div class='content-table--section'>
      <h2>Social</h2>
      <div class='content-table--section-links'>
        <ExternalLink href={GITHUB_URL}>GitHub</ExternalLink>
         <ExternalLink href={INSTAGRAM_URL}>Instagram</ExternalLink>
          <ExternalLink href={LINKEDIN_URL}>LinkedIn</ExternalLink>
      </div>
    </div>
  </div>
</MainLayout>

<style>
  .hero {
    grid-template-columns: 1fr 2fr;
    margin-bottom: 88px;
  }

  .hero--text {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    grid-column-start: 2;
  }

  h1 {
    font-size: var(--fontSizes-2xl);
  }

  h2 {
    font-weight: normal;
    font-size: var(--fontSizes-lg);
  }

  .content-table {
    display: grid;
  }

  .content-table h3 {
    font-weight: normal;
  }

  .content-table--section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-top: 1px solid var(--colors-foreground);
    padding: 12px 8px;
  }

  .content-table--section:last-of-type {
    border-bottom: 1px solid var(--colors-foreground);
  }

  .content-table--section h2 {
    flex-shrink: 0;
  }

  .content-table--section > div {
    grid-column-start: 2;
  }

  .content-table--section-links {
    display: flex;
    justify-content: space-between;
  }

  .content-table--section-list {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    row-gap: 14px;
  }

  .content-table--list-item {
    display: flex;
    justify-content: space-between;
  }

  .content-table--list-item a {
    margin-right: 6px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }

  .content-table--list-item p {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    align-items: baseline;
    font-size: var(--fontSizes-sm);
    font-style: italic;
  }

  .content-table--list-item p::before {
    content: '';
    flex: 1;
    display: inline-flex;
    margin-right: 6px;
    border-bottom: 2px dotted var(--colors-foreground);
  }

  :global(.content-table--item-title) {
    white-space: nowrap;
    text-overflow: ellipsis;
    width: max-content;
    overflow: hidden;
  }

  .see-more {
    font-weight: 600;
    font-family: var(--font-semibold);
    color: var(--colors-purple);
  }

  @media (max-width: 768px) {
    .hero {
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;
    }

    .content-table {
      margin-bottom: 24px;
      overflow-x: hidden;
    }

    .content-table--section {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 18px;
      padding: 16px 8px;
    }

    .content-table--section > div {
      grid-column-start: 1;
    }

    .content-table--section-links {
      flex-direction: column;
      row-gap: 16px;
    }

    .content-table--section-list {
      row-gap: 16px;
    }

    .content-table--list-item {
      display: flex;
      flex-direction: column;
    }

    .content-table--list-item a {
      white-space: break-words;
    }

    .content-table--list-item p::before {
      display: none;
    }
  }
</style>